<header>
    <img src="{{ima_up}}" alt="logo">
    <h1>Header Get</h1>
</header>

<div style="
        background: #D3D3D319;
        padding: 2rem;
        border: 2px solid rgba(0,0,0,0.1);
">
    <h1 style="color: red">{{name}}</h1>
    <!--    <h1>{{sender}}</h1>-->
    <h1>{{message}}</h1>
    <img style="width: 3.5rem" src="{{ima}}" alt="logo">
</div>